@charset "UTS-8";

@font-face {
    font-family:Roboto;
    src: url(fonts/Roboto.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
    
}
@media ( min-width: 350px){
    a{
        text-decoration: none;
        font-family: 'Roboto',Times, serif;
        font-size: 7.5px;
        font-style: normal;
    }
    a.prim{
        color: #03151E;
    }
    a.segd{
        background-color: #03151E;
        color: #ffffff;
        padding: 2px 15px 2px 15px;
        border-radius: 100px;
    }
    img.logo{
        width: 25px;
        height: 10px;
        margin-top: 10px;
    }
    header,nav .menu{
        display: flex;
    }
    header{
        justify-content: space-around;
    }
    nav .menu{
        margin-top: 10px;
        gap: 5px;
        list-style: none;
    }
    .main-1{
        padding-bottom: 17.5px;
    }
    .main-1 .main-h1-p{
        color: #03151E;
        text-align: center;
        font-family: 'Roboto',Times, serif;
        font-style: normal;
        font-size: 20px;
        padding-top: 10px;
    }
    .main-1 .main-p {
        color: #03151E;
        font-family: 'Roboto',Times, serif;
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 100;
        line-height: 18.5px;
        margin-top: -35px;
    }
    .main-1 .main-link-p{
        text-align: center;
        font-family: 'Roboto',Times,serif;
        font-style: normal;
    }
    .main-1 .main-link-p a{
        color: #ffffff;
        border: 1px solid #4BC1D2;
        background-color: #4BC1D2;
        padding: 5px 10px;
        border-radius: 40px;
    }
    .main-2{
        background-color: #CFF2F5;
        padding: 100px 0px;
        padding-bottom: 7.5px;
        box-shadow: 1px 1px 2px #0000;
    }
    .img-main{
        text-align: center;
        margin-bottom: -200px;
    }
    .main-2 .main-h1-s{
        color: #03151E;
        text-align: center;
        font-family: 'Roboto',Times, serif;
        font-style: normal;
        font-size: 17.5px;
        padding-top: 95.5px;
    }
    .main-2 .main-s {
        color: #03151E;
        font-family: 'Roboto',Times, serif;
        text-align: center;
        font-size: 5px;
        font-style: normal;
        font-weight: 100;
        line-height: 17.5px;
        margin-top: -16.5px;
    }
    .main-2 .main-link-s{
        text-align: center;
        font-family: 'Roboto',Times,serif;
        font-style: normal;
        padding-top: 10px;
    }
    .main-2 .main-link-s a{
        color: #ffffff;
        border: 1px solid #4BC1D2;
        background-color: #4BC1D2;
        padding: 6px 10px;
        border-radius: 40px;
    }
    .contene1{
        display: flex;
        align-items: center;
        justify-content: center; 
        padding-top: 30.2px;
    }
    .main-3 .main-texto h1{
        color: #03151E;
        font-family: 'Roboto',Times, serif;
        text-align: center;
        font-style: normal;
        font-size: 12.5px;
    }
    .main-3 .main-texto p {
        color: #03151E;
        font-family: 'Roboto',Times, serif;
        text-align: center;
        font-size: 6px;
        font-style: normal;
        font-weight: 100;
        line-height: 8.7px;
    }
    .img-texto{
        width: 185.5px;
    }
    .contene2{
        display: flex;
        align-items: center;
        justify-content: center; 
        padding-top: 18.8px;
    }
    .contene3{
        display: flex;
        align-items: center;
        justify-content: center; 
        padding-top: 18.8px;
        padding-bottom: 70px;
    }
    .contene-f .main-4-texto{
        width: 290.7px;
        background-image: linear-gradient(to top,#CFF2F5,#EAF3F4); 
        padding: 21px 9px 9px 3.9px;
    } 
    .main-4-texto h1{
        color: #03151E;
        font-family: 'Roboto',Times, serif;
        text-align: center;
        font-style: normal;
        font-size: 14.9px;
        padding-left:110px;
    }
    .main-4-texto p{
        color: #03151E;
        font-family: 'Roboto',Times, serif;
        text-align: center;
        font-size: 6px;
        font-style: normal;
        font-weight: 100;
        line-height: 8px;
        padding: 0px 0px 0px 90px;
    } 
    .img-4{
        width: 90px
    }
    .contene-f{
        display: flex;
    }
    .main-4-img{
        padding: 6px 0px 0px  115px; 
    }
    .contene-f-img h1{
        color: #03151E;
        font-family: 'Roboto',Times, serif;
        font-style: normal;
        font-size: 16.9px;
        margin-top: 80.5px;
        margin-bottom: 25px;
    }
    .contene-f-img{
        text-align: center;
        margin-bottom: 100px;
    }
    ul li{
      list-style-type: none;
    }
    .org-texto{
        display: flex;
    } 
    p.cor-texto{
        color:#4BC1D2;
        font-family: 'Roboto',Times, serif;
    }
    .cor-texto2{
        color: white;
        font-family: 'Roboto',Times, serif;
    }
    .org-texto{
        margin-right: 50px;
    }
    .org-fim{
        display: flex; 
        align-items: center;
        justify-content: center; 
    }
    .org-img p{
        color: white;
        font-family: 'Roboto',Times, serif;
    }
    footer{
        background-color:#03151E; 
        padding:31.9px 0px 18.7px 0px;  
    }
    .org-fim-texto{
        color: white;
        text-align: center;
        padding: 45.7px 0px 0px 0px ;
        font-family: 'Roboto',Times, serif;
        font-size: 6px;
    
    }
}
body{
    background-color: #ffffff;
    margin: auto;
}
a{
    text-decoration: none;
    font-family: 'Roboto',Times, serif;
    font-size: 13.5px;
    font-style: normal;
}
a.prim{
    color: #03151E;
}
a.segd{
    background-color: #03151E;
    color: #ffffff;
    padding: 6px 25px 6px 25px;
    border-radius: 200px;
}
img.logo{
    width: 75px;
    height: 25px;
    margin-top: 20px;
}
header,nav .menu{
    display: flex;
}
header{
    justify-content: space-around;
}
nav .menu{
    margin-top: 20px;
    gap: 15px;
    list-style: none;
}
.main-1{
    padding-bottom: 40px;
}
.main-1 .main-h1-p{
    color: #03151E;
    text-align: center;
    font-family: 'Roboto',Times, serif;
    font-style: normal;
    font-size: 50px;
    padding-top: 20px;
}
.main-1 .main-p {
    color: #03151E;
    font-family: 'Roboto',Times, serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 46px;
    margin-top: -35px;
}
.main-1 .main-link-p{
    text-align: center;
    font-family: 'Roboto',Times,serif;
    font-style: normal;
}
.main-1 .main-link-p a{
    color: #ffffff;
    border: 1px solid #4BC1D2;
    background-color: #4BC1D2;
    padding: 10px 20px;
    border-radius: 100px;
}
.main-2{
    background-color: #CFF2F5;
    padding: 200px 0px;
    padding-bottom: 19px;
    box-shadow: 1px 1px 2px #0000;
}
.img-main{
    text-align: center;
    margin-bottom: -362px;
}
.main-2 .main-h1-s{
    color: #03151E;
    text-align: center;
    font-family: 'Roboto',Times, serif;
    font-style: normal;
    font-size: 40px;
    padding-top: 161px;
}
.main-2 .main-s {
    color: #03151E;
    font-family: 'Roboto',Times, serif;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 45px;
    margin-top: -31px;
}
.main-2 .main-link-s{
    text-align: center;
    font-family: 'Roboto',Times,serif;
    font-style: normal;
    padding-top: 20px;
}
.main-2 .main-link-s a{
    color: #ffffff;
    border: 1px solid #4BC1D2;
    background-color: #4BC1D2;
    padding: 10px 20px;
    border-radius: 100px;
}
.contene1{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 95px;
}
.main-3 .main-texto h1{
    color: #03151E;
    font-family: 'Roboto',Times, serif;
    text-align: center;
    font-style: normal;
    font-size: 29px;
}
.main-3 .main-texto p {
    color: #03151E;
    font-family: 'Roboto',Times, serif;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
}
.img-texto{
    width: 400px;
}
.contene2{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 50px;
}
.contene3{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 50px;
    padding-bottom: 172px;
}
.contene-f .main-4-texto{
    width: 844px;
    background-image: linear-gradient(to top,#CFF2F5,#EAF3F4); 
    padding: 63px 25px 25px 11px;
} 
.main-4-texto h1{
    color: #03151E;
    font-family: 'Roboto',Times, serif;
    text-align: center;
    font-style: normal;
    font-size: 29px;
    padding-left:235px;
}
.main-4-texto p{
    color: #03151E;
    font-family: 'Roboto',Times, serif;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    padding: 0px 0px 0px 231px;
} 
.img-4{
    width: 220px
}
.contene-f{
    display: flex;
}
.main-4-img{
    padding: 10px 0px 0px  320px; 
}
.contene-f-img h1{
    color: #03151E;
    font-family: 'Roboto',Times, serif;
    font-style: normal;
    font-size: 40px;
    margin-top: 165px;
    margin-bottom: 75px;
}
.contene-f-img{
    text-align: center;
    margin-bottom: 200px;
}
ul li{
  list-style-type: none;
}
.org-texto{
    display: flex;
} 
p.cor-texto{
    color:#4BC1D2;
    font-family: 'Roboto',Times, serif;
}
.cor-texto2{
    color: white;
    font-family: 'Roboto',Times, serif;
}
.org-texto{
    margin-right: 150px;
}
.org-fim{
    display: flex; 
    align-items: center;
    justify-content: center; 
}
.org-img p{
    color: white;
    font-family: 'Roboto',Times, serif;
}
footer{
    background-color:#03151E; 
    padding:83px 0px 43px 0px;  
}
.org-fim-texto{
    color: white;
    text-align: center;
    padding: 103px 0px 0px 0px ;
    font-family: 'Roboto',Times, serif;
    font-size: 10px;

}